USE [BD_EXAMPLE]
GO
/****** Object:  Schema [PRUEBA]    Script Date: 15/10/2025 17:42:04 ******/
CREATE SCHEMA [PRUEBA]
GO
/****** Object:  StoredProcedure [PRUEBA].[sp_DeleteUsuario]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PRUEBA].[sp_DeleteUsuario](
@idUsuario bigint
)
AS
BEGIN

DELETE FROM [PRUEBA].[tblUsuario]
 WHERE idUsuario = @idUsuario

 SELECT COUNT(*) as cont, usuario into #temp FROM [PRUEBA].[tblUsuario] WHERE idUsuario = @idUsuario GROUP BY usuario
 DECLARE @v_count bigint = (SELECT cont  from #temp)

  DECLARE @v_usuario nvarchar(60) = (SELECT usuario  from #temp)

 IF(@v_count = 0)
 BEGIN
 SELECT '22' as cod, 'EL USUARIO ' + @v_usuario + ', FUE ELIMINADO CORRECTAMENTE.' as mensaje
 END
 ELSE  IF(@v_count = 1)
 BEGIN
 SELECT '33' as cod,'ERROR AL ELIMINAR EL USUARIO ' + @v_usuario + '.' as mensaje
 END

END



GO
/****** Object:  StoredProcedure [PRUEBA].[sp_GetLogin]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PRUEBA].[sp_GetLogin]
--@usuario nvarchar(60), --SELECCIONAR SI EL LOGIN SERA CON EMAIL O USERNAME
@contrasenia nvarchar(10)= NULL, 
@email nvarchar(100)
AS
BEGIN

	SELECT u.idUsuario, u.usuario, u.nombres,u.apellidos, u.email, u.telefono, r.idRolUsuario , r.Rol into #temp FROM [PRUEBA].[tblUsuario] u
	INNER JOIN [PRUEBA].[tblRolUsuario] r ON u.idRolUsuario = r.idRolUsuario
	WHERE 
	--usuario=@usuario 
	--AND 
	email = @email
	--AND 
	--contrasenia = @contrasenia;  --SI ES AUTENTIFICACION POR GOOGLE LA CONTRASENIA NO SE DESCOMENTA.

	DECLARE @vCount INT = (SELECT count(*) as cantidad FROM #temp)

	IF(@vCount=1)
	BEGIN
		SELECT * FROM #temp
	END

END

GO
/****** Object:  StoredProcedure [PRUEBA].[sp_GetRol]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PRUEBA].[sp_GetRol]
AS
BEGIN

SELECT r.idRolUsuario , r.Rol  FROM [PRUEBA].[tblRolUsuario] r 
END


GO
/****** Object:  StoredProcedure [PRUEBA].[sp_GetUsuario]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PRUEBA].[sp_GetUsuario]
AS
BEGIN

SELECT u.idUsuario, u.usuario, u.nombres,u.apellidos, u.email, u.telefono, r.idRolUsuario , r.Rol  FROM [PRUEBA].[tblUsuario] u
INNER JOIN [PRUEBA].[tblRolUsuario] r ON u.idRolUsuario = r.idRolUsuario
END

GO
/****** Object:  StoredProcedure [PRUEBA].[sp_GetUsuarioXIntento]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [PRUEBA].[sp_GetUsuarioXIntento](@numIntentos int)
AS
BEGIN

SELECT u.idUsuario, u.usuario, u.nombres,u.apellidos, u.email, u.telefono, r.idRolUsuario , r.Rol  FROM [PRUEBA].[tblUsuario] u
INNER JOIN [PRUEBA].[tblRolUsuario] r ON u.idRolUsuario = r.idRolUsuario
WHERE numIntentos < @numIntentos
AND estadoProceso = 'PEND'
END

GO
/****** Object:  StoredProcedure [PRUEBA].[sp_InsertUsuario]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PRUEBA].[sp_InsertUsuario](
  @usuario nvarchar(60)
, @contrasenia nvarchar(10)
, @nombres nvarchar(100)
, @apellidos nvarchar(100)
, @email nvarchar(100)
, @telefono int
, @idRolUsuario bigint
)
AS
BEGIN

INSERT INTO [PRUEBA].[tblUsuario](usuario, contrasenia,nombres, apellidos,email, telefono, idRolUsuario)
VALUES (@usuario, @contrasenia,@nombres, @apellidos,@email, @telefono, @idRolUsuario);

SELECT TOP 1 idUsuario INTO #Id FROM [PRUEBA].[tblUsuario] WHERE email = @email 
AND usuario = @usuario

END

GO
/****** Object:  StoredProcedure [PRUEBA].[sp_UpdateUsuario]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PRUEBA].[sp_UpdateUsuario](
@idUsuario bigint
,@usuario nvarchar(60)
, @contrasenia nvarchar(10) = NULL
, @nombres nvarchar(100) =NULL
, @apellidos nvarchar(100)= NULL
, @email nvarchar(100) =NULL
, @telefono int =NULL
, @idRolUsuario bigint =NULL
)
AS
BEGIN


UPDATE [PRUEBA].[tblUsuario]
   SET [usuario] = ISNULL(@usuario, [usuario]),
	  [contrasenia] = ISNULL(@contrasenia, [contrasenia])
      ,[nombres] = ISNULL(@nombres,[nombres])
      ,[apellidos] = ISNULL(@apellidos,[apellidos])
      ,[email] =  ISNULL(@email,[email])
      ,[telefono] =  ISNULL(@telefono,[telefono])
      ,[idRolUsuario] = ISNULL(@idRolUsuario,[idRolUsuario])
 WHERE idUsuario = @idUsuario and [usuario] = @usuario

 SELECT '22' as cod, 'EL USUARIO ' + @usuario + ', FUE ACTUALIZADO CORRECTAMENTE.' as mensaje

END



GO
/****** Object:  Table [PRUEBA].[tblRolUsuario]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRUEBA].[tblRolUsuario](
	[idRolUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[Rol] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RolUsuario] PRIMARY KEY CLUSTERED 
(
	[idRolUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PRUEBA].[tblUsuario]    Script Date: 15/10/2025 17:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRUEBA].[tblUsuario](
	[idUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](60) NOT NULL,
	[contrasenia] [nvarchar](10) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[telefono] [int] NOT NULL,
	[idRolUsuario] [bigint] NOT NULL,
	[numIntentos] [int] NULL,
	[estadoProceso] [char](6) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [PRUEBA].[tblRolUsuario] ON 

INSERT [PRUEBA].[tblRolUsuario] ([idRolUsuario], [Rol]) VALUES (1, N'Administrador')
INSERT [PRUEBA].[tblRolUsuario] ([idRolUsuario], [Rol]) VALUES (2, N'Programador')
SET IDENTITY_INSERT [PRUEBA].[tblRolUsuario] OFF
SET IDENTITY_INSERT [PRUEBA].[tblUsuario] ON 

INSERT [PRUEBA].[tblUsuario] ([idUsuario], [usuario], [contrasenia], [nombres], [apellidos], [email], [telefono], [idRolUsuario], [numIntentos], [estadoProceso]) VALUES (3, N'lguevara', N'123456*', N'Lorena', N'Guevara', N'lorena.guevara@sbperu.net', 99947265, 2, 0, N'PEND  ')
INSERT [PRUEBA].[tblUsuario] ([idUsuario], [usuario], [contrasenia], [nombres], [apellidos], [email], [telefono], [idRolUsuario], [numIntentos], [estadoProceso]) VALUES (6, N'lguevarac', N'4564646', N'Luis', N'Guevara ', N'luis.guevara@sbperu.net', 2548456, 2, 0, N'PEND  ')
INSERT [PRUEBA].[tblUsuario] ([idUsuario], [usuario], [contrasenia], [nombres], [apellidos], [email], [telefono], [idRolUsuario], [numIntentos], [estadoProceso]) VALUES (7, N'katya.vergaray', N'123456', N'Katya', N'Vergaray', N'katya.vergaray@sbperu.net', 956216211, 2, NULL, NULL)
SET IDENTITY_INSERT [PRUEBA].[tblUsuario] OFF
ALTER TABLE [PRUEBA].[tblUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_RolUsuario] FOREIGN KEY([idRolUsuario])
REFERENCES [PRUEBA].[tblRolUsuario] ([idRolUsuario])
GO
ALTER TABLE [PRUEBA].[tblUsuario] CHECK CONSTRAINT [FK_Usuario_RolUsuario]
GO
ALTER TABLE [PRUEBA].[tblUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_RolUsuario1] FOREIGN KEY([idRolUsuario])
REFERENCES [PRUEBA].[tblRolUsuario] ([idRolUsuario])
GO
ALTER TABLE [PRUEBA].[tblUsuario] CHECK CONSTRAINT [FK_Usuario_RolUsuario1]
GO
