<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Ejecucion DAILY: HORARIO DEFINIDO(ScheduledTime). Interval cada N minutos (IntervalMinutes).-->
    <!--<add key="Mode" value="DAILY" />-->
    <add key="Mode" value="INTERVAL" />
    <!--<add key="ScheduledTime" value="04:00:00" />-->
    <add key="IntervalMinutes" value="00:01" />
    <add key="NumIntentos" value="2" />
    <add key="ServiceName" value="Softbrilliance.WindowsService" />
    <add key="ServiceDisplayName" value="Softbrilliance Windows Service" />
    <add key="ServiceDescription" value="Servicio Windows base para procesar tareas programadas." />
    <add key="DefaultConnectionName" value="BD1" />
    <add key="testing.mode" value="1" />
    <add key="testing.to" value="@gmail.com" />
  </appSettings>
  <connectionStrings>
		  <add name="BD_SQL" connectionString="Data Source=DESKTOP-GSLP0P0\SQLEXPRESS12;Initial Catalog=BD_EXAMPLE;User ID=userTest;Password=sb123456;Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		  <add name="BD_ORACLE_TNS" connectionString="User Id=USR_APP;Password=********;Data Source=ORA_ALIAS;Pooling=true;Validate Connection=true;" providerName="Oracle.ManagedDataAccess.Client" />
		  <add name="BD_ORACLE_EZ" connectionString="User Id=USR_APP;Password=********;Data Source=//oracle-host:1521/ORCLPDB1;Pooling=true;Validate Connection=true;" providerName="Oracle.ManagedDataAccess.Client" />
		  <add name="BD_MYSQL" connectionString="Server=mysql-host;Port=3306;Database=PRUEBA;User Id=usr_app;Password=********;SslMode=None;Allow User Variables=true;Default Command Timeout=0" providerName="MySqlConnector" />
		  <add name="BD_POSTGRES" connectionString="Host=pg-host;Port=5432;Database=prueba;Username=usr_app;Password=********;Pooling=true;Timeout=15;Command Timeout=0;SslMode=Disable" providerName="Npgsql" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>