<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>

		<!--Ejecucion DAILY: HORARIO DEFINIDO(ScheduledTime). Interval cada N minutos (IntervalMinutes).-->
		<!--<add key="Mode" value="DAILY" />-->
		<add key="Mode" value="INTERVAL" />
		<!--<add key="ScheduledTime" value="04:00:00" />-->
		<add key="IntervalMinutes" value="00:01" />
		<add key="NumIntentos" value="2" />
		<add key="ServiceName" value="Softbrilliance.WindowsService" />
		<add key="ServiceDisplayName" value="Softbrilliance Windows Service" />
		<add key="ServiceDescription" value="Servicio Windows base para procesar tareas programadas." />
		<add key="DefaultConnectionName" value="BD1" />
		<add key="testing.mode" value="1" />
		<add key="testing.to" value="@gmail.com" />

	</appSettings>
	<connectionStrings>
		<add name="BD1"
			connectionString="Data Source=DESKTOP-GSLP0P0\SQLEXPRESS12;Initial Catalog=BD_EXAMPLE;User ID=userTest;Password=sb123456;Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=True"
			providerName="System.Data.SqlClient" />
		<add name="BD2"
			connectionString="Data Source=xxxx.xxxxx.xxxxx;Initial Catalog=PRUEBA;Integrated Security=True;Persist Security Info=True;TrustServerCertificate=True ;MultipleActiveResultSets=true; User Instance=False"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
					publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
