<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<log4net debug="true">
		<appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
			<threshold value="DEBUG"/>
			<file value="Logs\log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="20"/>
			<maximumFileSize value="11MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG"/>
				<levelMax value="INFO"/>
			</filter>
		</appender>
		<appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
			<threshold value="WARN"/>
			<file value="Logs\logError.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="20"/>
			<maximumFileSize value="11MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN"/>
				<levelMax value="ERROR"/>
			</filter>
		</appender>
		<logger name="AppLogger" additivity="false">
			<level value="DEBUG"/>
			<appender-ref ref="RollingFileAppenderInfo"/>
			<appender-ref ref="RollingFileAppenderError"/>
		</logger>
		<root>
			<level value="WARN"/>
			<appender-ref ref="RollingFileAppenderError"/>
		</root>
	</log4net>

</configuration>
